<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlueStar</title>
    <link rel="shortcut icon" type="image/jpg" href="/static//images/BluestarFavIcon.png"/>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div class="navbar">
    <div class="logo">
        <a href="/"><img src="/static/images/bluestarLogo.png" width="125px"></a>
    </div>
    <nav>
        <ul id="MenuItems">
            <li><a href="/">Home</a></li>
            <li><a href="/products">Products</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li id="SIGNIN"><a href="/signin">Signin</a></li>
        </ul>
    </nav>
    <a href="/cart">
        <img src="/static/images/cart.png" width="30px" height="30px">
        <span id="totalCartItem"></span>
    </a>
    <img src="/static/images/menu.png" class="menu-icon" onclick="menutoggle()">
</div>

<script src="../../static/js/nav.js"></script>
<link rel="stylesheet" href="../../static/css/style.css">
<link rel="stylesheet" href="../../static/css/nav.css">