<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/shipping.css">

    <title>Shipping | BlueStar</title>
    <link rel="shortcut icon" type="image/jpg" href="/static//images/BluestarFavIcon.png"/>
</head>
<body>
    <!-- Navigation Bar -->
    <div class="container">
        <%- include('partials/header.ejs');-%>
    </div>

    
    <div class="shipping-form-container">
        <h2>Shipping Address</h2>
        <form onsubmit="return handleSubmitShipping()">
            <input 
            required
            type="text"
            name="username" 
            placeholder="Username"
            oninput="validate(this)"
            />
            <input 
            required
            type="text"
            name="address" 
            placeholder="Address"
            oninput="validate(this)"
            />
            <input 
            required
            type="text"
            name="city" 
            placeholder="City"
            oninput="validate(this)"
            />
            <input 
            required
            type="text"
            name="state" 
            placeholder="State"
            oninput="validate(this)"
            />
            <input 
            required
            type="tel"
            maxlength="10"
            minlength="10"
            name="contact" 
            placeholder="Contact no."
            oninput="validate(this)"
            />
            <input 
            required
            type="tel"
            name="pin" 
            placeholder="PIN no."
            oninput="validate(this)"
            maxlength="6"
            minlength="6"
            />
            <button type="submit" class="btn">Continue</button>
        </form>
    </div>
    <!-- ---------------Footer----------------- -->
    <%- include('partials/footer.ejs');-%>

    <script src="../static/js/shipping.js"></script>

</body>
</html>