
.shipping-form-container{
    background: #fff;
    width: 300px;
    max-height: 426px;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0 rgb(0, 0, 0);
    margin: 80px auto;
}



.shipping-form-container form{
    max-width: 300px;
    padding: 0 20px;
    top: 88px;
}
form input{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
}
form .btn{
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}
form .btn:focus{
    outline: none;
}


form a{
    font-size: 12px;
}

/* To remove up and down arrow from input type number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#contactErrorMessage p, #pinErrorMessage p{
    color: red;
    font-size: small;
    float: left;
    margin-top: -10px;
}

.btnStatu:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}